# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\360Downloads\ch02-mabatis-dao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
